{% if session['logged_user'] %}
<a href="{{ url_for('new_post') }}">Add new post</a>
<a href="{{ url_for('logout_user') }}">Log out</a>
{% else %}
<a href="{{ url_for('login_user') }}">Log in</a>
{% endif %}

{% with messages = get_flashed_messages() %}
   {% if messages %}
      <ul>
      {% for message in messages %}
         <li>{{ message }}</li>
      {% endfor %}
      </ul>
   {% endif %}
{% endwith %}

<ul>
    {% for post in posts %}
   <li>
      <a href="{{ url_for('get_post', post_id=post.id) }}">{{ post.author.username }}: {{ post['post_text'] }}</a><br>
      <a href="{{ url_for('like', post_id=post.id)}}">Likes: {{ post.likes.count }}</a>
   </li>
    {% endfor %}
</ul>