<a href="{{ url_for('index') }}">Home page</a>

<h4>{{ post.author.username }}</h4>
<p>Created at: {{ post['created_at'] }}</p>
<h3>{{ post['post_text'] }}</h3>
<img src="{{ url_for('static', filename=post.image) }}" alt=""><br>
<a href="{{ url_for('like', post_id=post.id)}}">Likes: {{ post.likes.count() }}</a>

<form action="{{ url_for('add_comment', post_id=post.id) }}" method="post">
    {{ form.csrf_token }}
    <p>Add your comment!</p>
    {{ form.comment_text() }} <br>
    <input type="submit">
</form>

<ul>
    {% for comment in post.comments %}
        <li>{{ comment.author.username }}: {{ comment.comment_text }}</li>
    {% endfor %}
</ul>